
/* Phần ảnh logo NCC */
.body__logo {
    margin-top: 50px;
    height: 140px;
    display: flex;
    justify-content: center;
}

.body__logo__image {
    height: 100%;
    width: 300px;
    background-image: url(../../image/NCC_Logo.png);
    background-repeat: no-repeat;
    background-size: contain;
}

/* Phần mô tả */
.body__descript {
    height: 180px;
    background-color: rgb(238, 238, 238);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.body__descript__block {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Phần nội dung */
.body__content {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.body__content__ND {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.b__c__ND__content {
    display: flex;
}

.b__c__ND__content__image {
    margin: 0 10px 10px 0;
    width: 80px;
    height: 80px;
    background-image: url(../../image/KO.png);
    background-repeat: no-repeat;
    background-size: contain;
}